trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET 10'
  inputs:
    version: 10.0.100
    installationPath: $(Agent.ToolsDirectory)/dotnet

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: './AdventOfCode.sln'
    arguments: -c Release -o $(Build.ArtifactStagingDirectory)
  displayName: .NET Build
